PORT=3000

UBER_CLIENT_ID=k4IiHv6MsQn2bvOVmF973etpQKoGS9NB
UBER_CLIENT_SECRET=o9nZWn0LwWEV0HZmBNVc2IcP9hGXbm1aqkZyQAfe
UBER_REDIRECT_URI=http://localhost:3000/uber/auth/callback

UBER_API_BASE_URL=https://api.uber.com
UBER_AUTH_BASE_URL=https://auth.uber.com

AUTO_ACCEPT_ORDERS=false
UBER_IS_ORDER_MANAGER=true

UBER_DEFAULT_INTEGRATOR_STORE_ID=pollos-pirata-store-001
UBER_DEFAULT_INTEGRATOR_BRAND_ID=pollos-pirata-brand-001
UBER_DEFAULT_MERCHANT_STORE_ID=pollos-pirata-merchant-store-001